/cloud_credentials.json
/dataset/
/corpus/cv-corpus-15.0-2023-09-08/
/mfa/spanish_mfa.dict
/mfa/spanish_mfa.zip
/LEER.txt
/dataset_backups/
/custom_dataset/clips/
/custom_dataset/train.csv
/custom_dataset/test.csv
/custom_dataset/dev.csv
/v2_dataset/
